flask
flask-cors
flask-sqlalchemy
mysql-connector-python
pymysql
numpy
pandas
scikit-learn
tensorflow
opencv-python-headless
google-genai
flask-jwt-extended
flask-bcrypt
python-dotenv
email_validator
cryptography

Pillow
scikit-image
